.App {
  text-align: center;
}

.App--animals {
  list-style: none;
  padding: 0;
}

.App--animal {
  display: inline-block;
  font-size: 2em;
}

.App--button {
  padding: 5px 10px;
  border-radius: 5px;
  margin-left: 5px;
  font-size: 2em;
}
